@import "Layout/footer.scss";
@import "Layout/header.scss";
@import "Layout/layout.scss";
@import "Utils/animation.scss";
@import "Components/button.scss";
@import "Pages/section.scss";
@import "Components/card.scss";
@import "base/base.scss";
.line {
  border-bottom: 4px solid #99e2d0;
  width: 40px;
}

.logo-title {
  font-family: "Shrikhand";
}

.banner {
  display: flex;
  margin-bottom: -4em;
}

.picture {
  object-fit: cover;
}

.cutlery {
  width: 1rem;
  height: 1rem;
}
.hands {
  width: 1rem;
  height: 1rem;
}

.entree {
  display: flex;
  flex-direction: column;
}

.title-menu {
  font-family: "Roboto-thin";
  margin-bottom: 0;
}

.button {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
}
@media only screen and (max-width: 450px) {
  .sami-test {
    width: 50%;
    height: 50%;
  }

  .card-choice {
    width: 90%;
    height: 60px;
  }

  .restaurant > h2 {
    margin-left: 25px;
  }
}

@media only screen and (min-width: 451px) {
  .sami-test {
    height: 50%;
    width: 50%;
  }
  .sami-test2 {
    border-radius: 100%;
    height: 0%;
    width: 0%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 2000ms ease-in-out;
  }

  .banner {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 250px;
    align-items: center;
    .picture {
      width: 100%;
      height: 100%;
    }
  }
  .restaurant {
    align-items: center;
    height: 550px;
  }
}
@media only screen and (min-width: 1024px) {
  .choice-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
  }
  .restaurant {
    align-items: center;
    height: 350px;
    justify-content: space-around;
    > h2 {
      margin: 0;
    }
  }

  .card-choice {
    width: 20%;
  }
}
